.DS_Store
pili-ffmpeg/
ffmpeg-thin/
ffmpeg-scratch/
pili-fdk-aac/
fdk-aac-thin/
fdk-aac-scratch/
pili-libvpx/
libvpx-thin/
libvpx-scratch/
pili-speex/
speex-thin/
speex-scratch/
pili-ogg/
ogg-thin/
ogg-scratch/
pili-openssl/
